
/hw 1 Vagrant/.vagrant/
/hw 1 Vagrant/.vagrant/machines/
/hw 1 Vagrant/.vagrant/machines/kernel-update/
/hw 1 Vagrant/.vagrant/machines/kernel-update/vmware_workstation/
/hw 1 Vagrant/.vagrant/bundler/
/hw 1 Vagrant/.vagrant/rgloader/
hw 1 Vagrant/.vagrant/machines/kernel-update/vmware_workstation/8147a66f-5ede-4a4c-9e85-eda3e1edf436/generic-centos8s-vmware-x64-cl1.vmdk.lck/M39151.lck
hw 1 Vagrant/.vagrant/machines/kernel-update/vmware_workstation/8147a66f-5ede-4a4c-9e85-eda3e1edf436/generic-centos8s-vmware-x64.nvram
hw 1 Vagrant/.vagrant/machines/kernel-update/vmware_workstation/8147a66f-5ede-4a4c-9e85-eda3e1edf436/generic-centos8s-vmware-x64.vmx
hw 1 Vagrant/.vagrant/machines/kernel-update/vmware_workstation/8147a66f-5ede-4a4c-9e85-eda3e1edf436/vmware.log
/hw 2 Ansible/.vagrant
/hw 3 Disk System/.vagrant
.DS_Store
/hw 4 LVM/.vagrant
*.vdi
/hw 5 ZFS/.vagrant
/hw 8 NFS/.vagrant
systemd_commands-224190-89b81c.sh
/hw 9 Systemd/.vagrant
/hw 10 Bash/.vagrant

hw 12 SELinux/.vagrant/

hw 12 SELinux/otus-linux-adm/

hw 15 PAM/.vagrant/

hw 16 Logs/.vagrant/

hw 17 Backup/.vagrant/

hw 18 Network/.vagrant/

hw 20 DHCP/.vagrant/

hw 21 OSPF/.vagrant/

hw 22 VPN/.vagrant/

hw 23 DNS/.vagrant/

hw 24 VLAN/.vagrant/

hw 25 LDAP/.vagrant/
